@charset "UTF-8";
.form-control-feedback{
    line-height:34px !important;
}
/* 样式覆盖 */
.input-sm {
    height: 34px;
}
select.input-sm {
    height: 34px;
    line-height: 34px;
}
.form-control.input-sm + .form-control-feedback {
    height: 34px;
}
/* modal样式覆盖 */
.modal-dialog {
    width: 400px;
}
.modal-lg {
    width: 1000px;
}
.modal-header {
    text-align: center;
}
.modal-body {
    padding: 25px 20px;
    font-size: 14px;
    line-height: 24px;
}
.modal-body .close{
    margin: -21px -12px 0 0 !important;
}
.modal-footer {
    padding: 15px;
    text-align: center;
}
.modal-footer button {
    font-size: 14px;
    padding: 8px 16px;
}
.modal-footer .btn + .btn {
    margin-left: 10px;
}

.modal-body-tal {
    text-align: left;
}

/* 表格样式覆盖*/
div.dt-bottom-row .dataTables_info{
    line-height: 20px;
    text-align: left;
}

/* model新增样式 */
.custom-modal-dialog{
    width: 600px;
}
.custom-modal-body{
    font-size: 12px;
    line-height: 1.6;
    padding: 15px;
}

/* 新增样式 */
.mu-header-container .navbar .navbar-inner .navbar-header .navbar-account .account-area .custom-nav-right-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.custom-col-link {
    vertical-align: middle;
}
.custom-tree-wrap {
    overflow: auto;
}
.custom-input-group {
    position: relative;
    display: block;
}
.custom-input-group .custom-input-group-input {
    position: static;
    float: none;
    display: block;
    padding-right: 48px;
}
.custom-input-group-btn {
    width: auto;
    margin-left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.custom-input-group-addon {
    position: absolute;
    width: 37px;
    height:34px;
    margin-left: 0;
    right: 0;
    top: 0;
    z-index: 2;
}
.custom-input-group-btn .btn {
    position: static;
}
.custom-input-gruop-input-wrap {
    display: block;
    overflow: auto;
}
.custom-input-gruop-input-wrap input{
    width:100%;
}
.custom-input-gruop-btn-right {
    float: right;
    margin-left: 10px;
}
.custom-btn-h34 {
    height: 34px;
    line-height: 20px;
}
.custom-padding-15{
    padding: 0 15px;
}
/*补偿单个label与form-control的差异padding*/
.custom-padding-top7{
    padding-top:7px;
}
.custom-row{
    margin-bottom:7px;
}
.custom-p p{
    height:19px;
    margin-top:4px;
}
/*课程管理新增，课程封面颜色选择效果样式*/

.custom-colorpicker{
    position: relative;
    width:184px;
    height:21px;
}
.custom-colorpicker span{
    border: 2px solid #fff;
    float: left;
    margin-right: 2px;
}
.custom-colorpicker .select{
    border:2px solid #4790be !important;
}
.custom-colorpicker i{
    cursor: pointer;
    height: 15px;
    width: 15px;
    display: block;
    border: 1px solid #fff;
    overflow: hidden;
}
/*广告位管理广告栏预览效果样式*/
.iphone-box{
    position: relative;
    width: 262px;
    height: 550px;
    margin: 0 auto;
    /*background: url("http://eln-dev.infinitus.com.cn/elnapp/images/iphone5s.png") no-repeat center;*/

}
.iphone-box .foot {
    position: absolute;
    bottom: 80px;
    left: 22px;
    background: white;
    width: 222px;
    height: 80px;
}
.iphone-box .foot .logo {
    display: inline-block;
    width: 110px;
    height: 80px;
    /*background: url("http://eln-dev.infinitus.com.cn/elnapp/images/infinitus_logo.png") no-repeat center;*/

}
.iphone-box .foot .link {
    display: inline-block;
    width: 112px;
    height: 80px;
    text-align:center;
    line-height:80px;
}
.iphone-box .carousel-indicators{
    bottom:0 !important;
    margin-bottom:0 !important;
}
.carousel-indicators{bottom:0 !important;}
.carousel-indicators li {
    background-color: #000000;
    opacity:0.3;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}
.carousel-indicators .active {
    background-color: #000000;
    opacity:0.7;
}
.custom-carousel-control{
    background-image:none !important;
    width:80px;
    height:60px;
    top:50%;
    margin-top:-40px;
    vertical-align: middle;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
}
.custom-carousel-control span{
    line-height:60px;
}
.custom-carousel-control:hover{
    background: rgba(0,0,0,0.4);
}
/*以上广告位管理广告栏预览效果样式*/
/*课程中心问卷预览*/
.custom-sub-div input{
    position:absolute;
    width:16px;
    height:16px;
    margin-top:4px;
}
.custom-sub-div span{
    margin-left:20px;
    height:24px;
    line-height:24px
}
.custom-input-div{
    position: relative;
    height:23px;
}
/*试卷管理预览*/
.custom-input-div span{
    position: absolute;
    left:18px;
     height:23px;
     line-height:23px !important;
     font-size:14px;
 }
.custom-input-div input{
    margin-top:4px;
    width:15px;
    height:15px;
}
/*pc菜单管理预览栏样式*/
.custom-nav-left,.custom-nav-right{
    position: relative;
    width:24px;
    height:46px;
    background-color: #3396f2;
    cursor:pointer;
}
.custom-nav-left img, .custom-nav-right img{
    display:none;
    width:100%;
    height:100%;
}
.custom-nav-scroll{
    display:inline-block;
    position: relative;
    width:910px;
    height:280px;
    overflow: hidden;
}
.custom-navbar{
    position: relative;
    width:9100px;
    height:46px;
    left:0;
    background-color: #3396f2 !important;
    transition: left 300ms linear;
}
.custom-navbar ul{
    list-style: none;
    padding:0;
    margin:0;
}
.custom-nav{
    position:absolute;
}
.custom-navbar li{
    position:relative;
    float: left;
    width:130px;
    height:46px;
    text-align:center;
}
.custom-navbar .hoverdown-menu{
    display:none;
    position:absolute;
    padding:0;
    width:130px;
    box-shadow: 0 6px 12px #979797;
}
.custom-hoverdown{
    overflow:visible;
}
.custom-navbar li:hover{
    background-color: #46a9e6 ;
}
.custom-navbar a{
    width:130px;
    height:46px;
    line-height:46px;
    font-size:16px;
    font-weight:bold;
    color:#ffffff;
    overflow:hidden;
}
.hoverdown-menu li{
    width:130px;
    height:auto;
    text-align:center;
    background: #f9f9f9 ;
}
.custom-navbar .custom-hoverdown:hover .hoverdown-menu{
    display:block;
}
.hoverdown-menu li:hover{
    background-color: #eeeeee;
}
.hoverdown-menu li a{
    line-height:28px;
    font-size:14px;
    font-weight:normal;
    text-align:center;
    color:#090909 !important;
    word-wrap:break-word;

}
.custom-a-blue a{
    color:blue !important;
}
.validate-table td{
    vertical-align:top;
    padding-top:9px;
}
.validate-table td label{
    padding-top:9px;
}
/* ----------课程星星评分样式------------- */
.evaluate-star-box{
    display:inline-block;
    *display:inline;
    *zoom:1;
    position:relative;

    width:200px;
    height:60px;
    padding:8px 0;
    margin-right:15px;
    background-color: #f5f5f5;
    border-radius: 3px !important;
    border:1px solid #ddd;
}
.evaluate-star-box .evaluate-star{
    padding-left:70px;
}
.evaluate-star-box .evaluate-star-score{
    display:inline-block;
    position:absolute;
    width:60px;
    height:42px;
    font-size:24px;
    line-height:42px;
    border-right:1px solid #ddd;
    color:#ffa800;
    text-align:center;
    font-weight:bolder;
}
.evaluate-star-box .evaluate-star-info{
    height:22px;
    font-weight:bolder;
    color:#aaa;
}
.evaluate-star-box .evaluate-star-bar{
    position:relative;
    width:100px;
    height:20px;
    overflow:hidden;
}
.evaluate-star-box .evaluate-stars{
    position: absolute;
    height:20px;
    overflow:hidden;
}
/* ----------------------- */


